* {
  cursor: default;
}

.Footer {
  font-size: 10px;
  text-align: center;
  color: #7a757d;
}

.Footer a {
  color: #7a757d;
  text-decoration: none;
}

.Footer a:hover {
  font-size: 10.5px;
  font-style: italic;
  text-decoration: none;
}
