.Footer {
  color: #7a757d;
  font-size: 10px;
  text-align: center;
}

.Footer a {
  color: #4c4b4d;
  font-weight: bold;
  text-decoration: none;
}

.Footer a:hover {
  color: #4c4b4d;
  text-decoration: none;
}
