.Footer {
  font-size: 10px;
  text-align: center;
  color: #7a757d;
}

.Footer a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.Footer a:hover {
  font-size: 10.5px;
  text-decoration: none;
}
